@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

* {
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    background-color: rgb(44, 44, 44); 
    padding: 0px;
}

.title {
    color: white;
    background-color: rgb(12, 92, 146);
    padding: 50px;
    border-radius: 10px;
}

.top {
    margin-top: 50px;
}

case-card {
    height: auto;
    width: 350px;
    /* background-color: white; */
    /* margin-top: 10px; */
    margin: 5px;
    margin-top: 0px;
}

.section-title {
    color: white;
    margin-top: 50px;
    text-align: center;
    width: 100%;
}

#cases-container {
    margin-top: 20px;
    margin-left: 0%;
    margin-right: 0%;
}