@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

* {
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    background-color: rgb(44, 44, 44); 
    padding: 0px;
}

.title {
    color: rgb(0, 2, 102);
    background-image: linear-gradient(to left, #e6fcff , rgb(218, 233, 255));
    /* padding: 20px; */
    border-radius: 5px;
}
.subtitle-index-text {
    font-size: medium;
    text-decoration: none;
    color: #000000;
    margin: 0px;
    padding: 0px;
}

.top {
    margin-top: 50px;
}

case-card, .case_card {
    height: auto;
    width: 32%;
    min-width: 300px;
    max-width: 450px;
    /* background-color: white; */
    /* margin-top: 10px; */
    margin: 5px;
    margin-top: 0px;
}



case-card:hover {
    /* transform: scale(1.05);
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out; */
    transition: ease 0.2s;
    transform: translateY(-5px);
}

.section-title {
    color: black;
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
}

#cases-container {
    margin-top: 20px;
    margin-left: 0%;
    margin-right: 0%;
}