/* @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

* {
    font-family: 'Source Sans Pro', sans-serif;
} */

/* tests */

.test1 {
    background-color: red;
}

.test2 {
    background-color: blue;
}

.test3 {
    background-color: green;
}

.test4 {
    background-color: blueviolet;
}


/* nav */

#az-logo-pic:hover {
    transition: ease 0.2s;
    box-shadow: 0px 0px 12px #e6e6e6;
}

.nav-hov {
    float: right;
    display: block;
    color: #818181;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 16px;
    position: relative;
}
  
.nav-hov:hover {
    color: #0072D9;
}

.nav-hov:after {
    content: '';
    position: absolute;
    /* text-align: center; */
    width: 75%;
    transform: scaleX(0);
    height: 2px;
    bottom: 11px;
    left: 14%;
    background-color: #0072D9;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-hov:hover:after {
    /* text-decoration: underline; */
    transform: scaleX(1);
    transform-origin: bottom left;
}

#az-logo-pic {
    width: 40px;
}

.navbar-toggler {
    border-color: rgba(1, 1, 1, 0);
}


.navbar-toggler:focus {
    border-color: #0072D9;
}

/* GENERAL */
/* 

body {
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    font-family: 'Source Sans Pro', sans-serif;
    max-width: 100%;
}
*/
/* .row, .column, .col, .col-auto {
    margin: 0px;
    padding: 0px;
} */

/* .vertCenter {
    margin-top: auto;
    margin-bottom: auto;
} */

.round-lg {
    border-radius: 15px;
}

/* index */

#intro-header-box {
    /* background-color: #cfecff; */
}

#myPic-home {
    width: 100%;
    max-width: 400px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    border-radius: 50%;
}

/* #myPic-home:hover {
    
    transition: ease 0.2s;
    box-shadow: 0px 0px 12px #161616;
} */


.gradientChange {
    display: inline-block;
    color: #0986f3;
    background: linear-gradient(to right, #02BAE9 50%, #0986f3 50%);
    /* background: linear-gradient(to right,
        linear-gradient(
            to right,
            rgba(255, 0, 0, 1),
            rgba(255, 0, 180, 1),
            rgba(0, 100, 200, 1)
        ) 50%,
        linear-gradient(
            to right,
            rgba(100, 200, 200, 1),
            rgba(100, 200, 200, 1)
        ) 50%
    ); */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position 275ms ease;
    text-decoration: none;
    
  }
.gradientChange:hover {
    background-position: 0 100%;
}

.title-index-text {
    font-size: x-large;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.subtitle-index-text {
    font-size: large;
    text-decoration: none;
    color: #8c8d8e;
}

#index-case-studies {
    /* background-color: #cef5ff; */
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(to right, #cef5ff , rgb(255, 255, 224));
}


.CaseCard {
    max-width: 400px;
}


.card-img-top:hover, .socials-icon:hover {
    /* transform: scale(1.05);
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out; */
    transition: ease 0.2s;
    transform: translateY(-5px);
}


#cases-more-link {
    color: white;
    text-decoration: none;
}

#cases-more-btn {
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: #F3F9FF;
    padding: 10px 10px;
    width: 240px;
    text-align: center;
    background-color: #121E2A;

    color: white;
    margin-top: 30px;
}


#cases-more-btn:hover, #about-me-btn:hover, #scroll-top-btn:hover {
    transition: ease 0.2s;
    transform: translateY(-5px);
    box-shadow: 0px 0px 12px #e6e6e6;
}

#socials-section {
    filter: invert(1);
    margin-top: 20px;
}

.socials-icon {
    width: 25px;
}


#index-about-me {
    /* background-color: #074a8d; */
    background: linear-gradient(to top, #046dd6, #000000);
    padding-top: 100px;
    padding-bottom: 80px;
    z-index: 2;
}


#about-me-pic {
    width: 400px;
}

#index-about-me-text {
    color: white;
    padding: 20px;
    margin-left: 80px;
}
#about-me-link:hover {
    text-decoration: none;
}
#about-me-btn {
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: #F3F9FF;
    padding: 10px 10px;
    width: 240px;
    text-align: center;

    color: white;
    margin-top: 30px;
}


#index-journey {
    background-color: #F6F6F6;
}
#journey-map {
    max-width: 550px;
}
.space20Above {
    margin-top: 20px;
}
.space50Above {
    margin-top: 50px;
}
#index-journey-text {
    color: #444;
    padding-left: 100px;
    max-width: 900px;
    margin-bottom: 100px;
}

#scroll-top-section {
    padding: 50px;
    color: #F3F9FF;
    background-color: #000000;
    width: 100%;
}

#scroll-top-btn {
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: #F3F9FF;
    padding: 10px 10px;
    width: 240px;
    text-align: center;
    background-color: #121212;

    color: white;
}
/* #about-me-bg-section {
    z-index: 1;
    width: 100%;
}
#about-me-bg {
    width: 100%;
} */

#index-other-work {
    background-color: #000000;
    color: #FFFFFF;
}


/* #hero-container {
    background: linear-gradient(to bottom, white, rgb(240, 244, 255));
    background-size: 300%;
    animation: flow 15s ease-in-out infinite;
} */

/* @keyframes flow {
    0% {background-position: 0 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0 50%;}
} */


/* .starry-bg {

} */