body{
    background-color: rgb(44, 44, 44); 
    padding: 0px;
}

/* =============== GENERAL =============== */

.jumbotron {
    padding: 5%;
}

img {
    width: 100%;
    border-radius: 15px;
}

.containerCase {
    margin-top: 79px;
}

.section{
    padding: 8%;
}

.colCenter {
    margin-top: auto;
    margin-bottom: auto;
}

.centerImg {
    text-align: center;
}

.top {
    text-align: center;
    color:rgb(54, 54, 54);
    background-color: rgb(178, 209, 245);
}

.titleTopSpace {
    margin-top: 5%;
}

/* --------------------------------------- */
/* ================ WEPET ================ */
/* --------------------------------------- */


/* =============== TOP =============== */

.topAd {
    margin-top: auto;
    margin-bottom: auto;
}

.banner{
    width:100%;
}

.sectionTitle{
    text-align:center;
    margin-bottom: 8%;
}

#topText{
    margin-top: auto;
    margin-bottom: auto;
    font-size: .4cm;
}

#note {
    margin-top: 3%;
    font-size: .2cm;
}

/* ================== Intro ================== */

.Introduction {
    color:rgb(59, 59, 59);
    background-color: aliceblue;
}

#popcorn {
    width: 80%;
}

.popPhoto {
    margin-top: auto;
    margin-bottom: auto;
}

.content {
    margin-top: auto;
    margin-bottom: auto;
}

.subsection {
    margin-bottom: 5%;
}

.lastsub {
    margin-bottom: 2%;
}

/* ========== Stage 1: Iterating on Ideas ========== */

.stage1 {
    background-color: rgb(235, 210, 173);
}

#storyboard {
    filter: brightness(115%);
    border: 5px solid rgb(144, 185, 120);
}

#p1-1 {
    width: 64%;
    float: left;
}

#p1-2 {
    width: 36%;
    float: left;
}

.section1proto {
    filter: brightness(100%);
    border-radius: 0px;
}

.wiref {
    width: 46%;
    float: left;
    margin: 2%;
}

.results {
    border: 5px solid rgb(211, 125, 125);
}

.search {
    border: 5px solid rgb(132, 204, 226);
}

/* #iter{
    background-color: aliceblue;
    padding: 2%;
} */

/* ========== Stage 2: Implementation ========== */

.stage2 {
    background-color: rgb(202, 202, 202);
}

/* ========== WePet: Final Design ========== */

#noteColor {
    margin-bottom: 3%;
}

.Final {
    background-color: pink;
}

.GIF {
    text-align: center;
}

#AttendingGIF, #messagesGIF {
    border-radius: 15px;
    border: 5px solid rgb(54, 54, 54);
    width: 174px;
    height: 300px;
}

#finalIterPhones {
    width: 120%;
    margin-left: -13%;
}

#finalVisuals {
    text-align: center;
}

#fpText {
    margin-left: -6%;
}

/* Other */
#btmBtn {
    text-align: center;
}

/* ---------------------------------------- */
/* ================ PIAZZA ================ */
/* ---------------------------------------- */

.caseTitle {
    text-align: center;
}

#PiazzaTop {
    background-color: #3e7aab;
    color: ghostwhite;
}

/* ----- Section 1: Intro ----- */
#Piazza-S1 {
    background-color: #83bbe9;
    /* background-color: #fafafa; */
}

#Piazza-intro {
    background-color: #c7e5fd;
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#piazzaRedesignTop {
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-style: outset;
    border-color: #676768;
}

/* ----- Section 2 ------ */

#Piazza-S2 {
    background-color: #b5dff3;
}

#PiazzaInsights {
    margin-bottom: 7%;
}

/* #piazzaTradeoffImg {
    width: 100%;
} */

/* ----- Section 3 ------ */

#Piazza-S3 {
    background-color: #fafafa;
    /* background-color: #7fb2db; */
}

/* #paintPtPiazza {
    width: 50%;
} */

#PiazzaRedesign {
    width: 80%;
}

/* ----------------------------------------- */
/* ================ TWITTER ================ */
/* ----------------------------------------- */

/* -------- Top --------- */
#TwitterTop{
    background-color: #1da1f2;
    color: #fafafa;
}

/* ----- Section 1 ------ */

#TwitterIntro{
    background-color: #f5f8fa;
    /* background-color: #aab8c2; */
}

#twittLogo {
    /* https://codepen.io/sosuke/pen/Pjoqqp */
    /* hex: #1da1f2 */
    width: 90%;
    filter: invert(46%) sepia(90%) saturate(733%) hue-rotate(172deg) brightness(97%) contrast(96%);
}

/* ----- Section 2 ------ */

#Twitter-S2{
    background-color: #e1e8ed;
}

/* ----- Section 3 ------ */

#Twitter-S3{
    background-color: #aab8c2;
}

/* #styleGuideTwitter {
    width: 80%;
} */

.persona {
    width: 70%;
}

#storyboardTwt {
    width: 102%;
}

#LofiTwtA {
    width: 67.5%;
}

/* ----- Section 4 ------ */

#Twitter-S4{
    background-color: #1da1f2;
}

#hifiV1 {
    width: 80%;
}