/* @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

* {
    font-family: 'Source Sans Pro', sans-serif;
} */

@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans:ital@0;1&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body{
    background-color: rgb(44, 44, 44); 
    padding: 0px;
}

p, p b, b {
    font-size: large;
}

/* =============== GENERAL =============== */

.jumbotron {
    padding: 5%;
}

img {
    width: 100%;
    /* border-radius: 15px; */
}

li, b, ol {
    font-size: 0.4cm;
    margin-bottom: 1%;
}

.containerCase {
    /* margin-top: 63px; */
}

.section{
    padding: 8%;
    margin: 0px;
}

.colCenter {
    margin-top: auto;
    margin-bottom: auto;
}

.centerImg {
    text-align: center;
}

.top {
    text-align: center;
    color:rgb(54, 54, 54);
    background-color: rgb(178, 209, 245);
}

.titleTopSpace {
    margin-top: 5%;
}

.removeSpace {
    margin-bottom: 1%;
}

.top50 {
    margin-top: 50px;
}
.bot50 {
    margin-bottom: 50px;
}

.scroll-top-btn {
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: #003251;
    padding: 10px 10px;
    width: 240px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);

    color: #003251;
    /* 0089de */
}

.scroll-top-btn:hover {
    transition: ease 0.2s;
    transform: translateY(-5px);
}

/* --------------------------------------- */
/* ================ WEPET ================ */
/* --------------------------------------- */


/* =============== TOP =============== */

.topAd {
    margin-top: auto;
    margin-bottom: auto;
}

.banner{
    width:100%;
}

.sectionTitle{
    text-align:center;
    margin-bottom: 8%;
}

#topText{
    margin-top: -5%;
    font-size: .4cm;
}

#note {
    margin-top: 3%;
    font-size: .2cm;
}

/* ================== Intro ================== */

.Introduction {
    color:rgb(59, 59, 59);
    background-color: aliceblue;
}

#popcorn {
    width: 80%;
    margin-bottom: 5%;
}

.content {
    margin-top: auto;
    margin-bottom: auto;
}

.subsection {
    margin-bottom: 5%;
}

.lastsub {
    margin-bottom: 2%;
}

/* ========== Stage 1: Iterating on Ideas ========== */

.stage1 {
    background-color: rgb(235, 210, 173);
}

#storyboard {
    filter: brightness(115%);
    border: 5px solid rgb(144, 185, 120);
}

#p1-1 {
    width: 64%;
    float: left;
}

#p1-2 {
    width: 36%;
    float: left;
}

.section1proto {
    filter: brightness(100%);
    border-radius: 0px;
}

.wiref {
    width: 46%;
    float: left;
    margin: 2%;
}

.results {
    border: 5px solid rgb(211, 125, 125);
}

.search {
    border: 5px solid rgb(132, 204, 226);
}

.center {
    margin-left: auto;
    margin-right: auto;
}
/* #iter{
    background-color: aliceblue;
    padding: 2%;
} */

/* ========== Stage 2: Implementation ========== */

.stage2 {
    background-color: rgb(202, 202, 202);
}

/* ========== WePet: Final Design ========== */

#noteColor {
    margin-bottom: 3%;
}

.Final {
    background-color: pink;
}

.GIF {
    text-align: center;
}

#AttendingGIF, #messagesGIF {
    border-radius: 15px;
    border: 5px solid rgb(54, 54, 54);
    width: 174px;
    height: 300px;
}

#finalIterPhones {
    width: 120%;
    margin-left: -13%;
}

#finalVisuals {
    text-align: center;
}

#pitch-walk-text {
    margin-top: 10%;
}

/* Other */
#btmBtn {
    text-align: center;
}

/* ---------------------------------------- */
/* ================ PIAZZA ================ */
/* ---------------------------------------- */

/* * {
    box-sizing: border-box;
}

.colFloat {
    float: left;
    width: 50%;
}

* {
    box-sizing: border-box;
  }
  
.column {
    float: left;
    width: 50%;
    padding: 10px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
  @media screen and (max-width: 900px) {
    .column {
        width: 100%;
    }
} */

#piazTitle {
    /* text-align: right; */
    /* display: block; */
    /* background-color: #e2f2ff; */
    /* color:#1584df; */
    /* margin-left: 5%; */
    /* margin-right: -150px; */
}

#PiazzaTop {
    background-color: #3e7aab;
    color: ghostwhite;
    height: 650px;
    padding-bottom: 900px;
    z-index: -1;
    text-align: center;
    /* background-image: linear-gradient(to top right,  #3e7aab, #bfe7fa); */
}

#PiazzaReMac {
    width: 100%;
    /* margin-bottom: 500px; */
}

@keyframes animateWave {
    0% {
      transform: scale(1,0);
    }
    100% {
      transform: scale(1,1);
    }
}

#piazzaWave {
    margin-top: -300px;
    position: relative;
    /* background: #3e7aab; */
    /* color: #FFF; */
    text-align: center;
    overflow: hidden;
}

#piazzaWave > svg{
    display: block;
    transform-origin: bottom;
    animation: animateWave 1000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

/* ----- Section 1: Intro ----- */

#Piazza-S1 {
    background-color: #83bbe9;
    /* z-index: -1; */
    /* margin-top: -100px; */
    /* background-color: #fafafa; */
}

#Piazza-intro {
    background-color: #c7e5fd;
    border-radius: 10px;
    padding: 3%;
    /* padding-left: 20px;
    padding-right: 20px; */
}

.headerPiazza {
    color: #1584df;
}

/* ----- Section 2 ------ */

#Piazza-S2 {
    background-color: #bfe7fa;
}

#PiazzaInsights {
    margin-bottom: 7%;
}
.errorsPiazza {
    color: rgb(231, 45, 82);
}

#tradeoffs {
    margin-left: -2%;
    margin-right: -2%;
}

#piazzaTradeoffImg {
    width: 50%;
}

/* ----- Section 3 ------ */

#Piazza-S3 {
    background-color: #fafafa;
    /* background-color: #7fb2db; */
}

.width80 {
    width: 80%;
}

/* ----------------------------------------- */
/* ================ TWITTER ================ */
/* ----------------------------------------- */

/* -------- Top --------- */
#TwitterTop{
    background-color: #05151f;
    color: hsl(0, 0%, 98%);
    height: 700px;
}

/* #topTwt {
    margin-top: -90px;
    margin-bottom: 30px;
} */

/* #waveTwt {
    height: auto;
    padding: 0%;
} */

/* ----- Section 1 ------ */

#Twitter-Misinfo-Banner {
    width: 100%;
}

#finalPoster {
    width: 450px;
    margin-left: 15%;
    /* margin-top: -60px; */
}

#TwitterIntro{
    background-color: #f5f8fa;
    /* background-color: #aab8c2; */
}

#twittLogo {
    /* https://codepen.io/sosuke/pen/Pjoqqp */
    /* hex: #1da1f2 */
    width: 90px;
    filter: invert(46%) sepia(90%) saturate(733%) hue-rotate(172deg) brightness(97%) contrast(96%);
}

/* ----- Section 2 ------ */

#Twitter-S2{
    background-color: #e1e8ed;
}

/* ----- Section 3 ------ */

#Twitter-S3{
    background-color: #aab8c2;
}

/* #competColTwt {
    float:left;
} */

#competATwt {
    width: 80%;
}

/* #styleGuideTwitter {
    width: 80%;
} */

.persona {
    width: 90%;
}

#storyboardTwt {
    width: 102%;
}

#LofiTwtA {
    width: 67.5%;
}

/* ----- Section 4 ------ */

#Twitter-S4{
    background-color: #77c6f7;
    /* background-color: #1da1f2; */
    /* color: #e9e8e8; */
}

#hifiV1 {
    width: 80%;
}


/* --------------------------------------- */
/* ================= HVL ================= */
/* --------------------------------------- */



/* .parralax {
    background-image: url("/caseStudies/HVLImages/HVL\ internship\ banner-2.svg");

    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

#HVL-banner {
    border-radius: 0%;
}

#HVL-1 {
    background-color: white;
}

#HVL_Group_Pic {
    margin-top: 5%;
    margin-bottom: 5%;
}

#HVL-title-1 {
    text-align: center;
    background-color: #044E59;
    color: white;
}

.whiteBG {
    background-color: white;
}

/* #HVL-summit {
    margin-left: -15%;
} */

#HVLExpText {
    padding: 3%;
}

#External-section {
    padding: 5%;
    border: #044E59;
    border-width: 5px;
    border-style: none none none solid;
    /* background-color: #044E59; */
}
#Internal-section {
    padding: 5%;
    border: #007157;
    border-width: 5px;
    border-style: none none none solid;
    /* background-color: #007157; */
}

#HVL-title-2 {
    text-align: center;
    background-color: #292D2E;
    color: white;
}


/* --------------------------------------------------------- */
/* ================= HVL: Design Challenge ================= */
/* --------------------------------------------------------- */

.add-space-above {
    margin-top: 10%;
}

.imageSpace {
    margin-top: 3%;
    margin-bottom: 5%;
}

#DC-1, #DC-3, #DC-5 {
    background-color: white;
}

#DC-2 {
    background-color: #E8F3F3;
}

#DC-4 {
    background-color: #C0E1E1;
}

#ProblemChallenge {
    /* padding-top: 3%;
    padding-bottom: 3%; */
    border: 2px;
    padding: 10px;
    border-radius: 25px;
    background-color: #24afc2;
    margin-top: 25px;
    margin-bottom: 25px;
}

#challengeText {
    /* background-color: #d2e7f8; */
    color:  #fff;
    font-size:x-large;
    margin-top: 3%;
    margin-bottom: 3%;
}

#timesvg {
    width:80px;
    margin-top: 2%;
    margin-bottom: 2%;
}

#sbdc, #sketchesDC {
    width: 350px;
    margin-bottom: 25px;
}

.no-border {
    border-radius: 0px;
}

.smallText p, .smallText li{
    font-size: small;
}

.center80 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}


/* --------------------------------------------------------- */
/* ======================== Spatch ========================= */
/* --------------------------------------------------------- */

#SpatchIntro {
    background-color: #F7F7F7;
}

#intro-vid-text {
    color: white;
    margin-bottom: 50px;
}

#Spatch-vid {
    /* background-color: #007157; */
    background-image: url("/caseStudies/SpatchImages/intro-bg.svg");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    /* background-size: 100% 100%; */
}

#Spatch-1 {
    background-color: white;
}

.spatch-list, .large-li {
    font-size: large;
}

.mvp-spatch {
    box-shadow: 0px 0px 0px 3px #0089de;
    border-radius: 5px;
}


/* --------------------------------------------------------- */
/* ===================== TRITONHACKS ======================= */
/* --------------------------------------------------------- */


#THIntro {
    background-color: #FFFFFF;
}

#TH21 {
    background-color: #150031;
    color: #FFFFFF;
}

#TH22 {
    background-color: #F3ECDC;
    color: #000000;
}

#TH-conclusion {
    background-color: #FFFFFF;
}


/* --------------------------------------------------------- */
/* ==================== SQUADUP GAMING ===================== */
/* --------------------------------------------------------- */


#SUIntro {
    background-color: #FFFFFF;
}

#problem-statement-title-SU {
    margin-left: 10px;
    padding: 10px 15px;
    background-color: #292D2E;
    color: white;
    border-radius: 7px;

    font-family: "Ropa Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    /* box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5); */
}

#problem-statement-text-SU {
    margin: 0px;
    font-size: x-large;
}

.SU-section-title {
    font-family: "Ropa Sans", sans-serif;
    font-weight: 200 900;
    font-style: normal;
    font-size: xx-large;
    padding-top: 10px;
}
.SU-section-number {
    /* background-image: linear-gradient(to right, #c92fde, #0072D9); */
    /* color: transparent;  */
    color: #c92fde;
    background-clip: text;
    font-size: 80;
    margin: 0px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 0px;
}

.SU-section-title-1 {
    font-weight:bold;
    font-size: x-large;
    padding: 9px 20px;
    margin-left: 10px;
    background-image: linear-gradient(to right, #c92fde, #0072D9);
    color: white;
    border-radius: 5px;

    font-family: "Ropa Sans", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: large;
}

.sub-title-box-SU {
    margin-left: 10px;
    padding: 10px 15px;
    /* background-color: #292D2E; */
    background-image: linear-gradient(to right, #c92fde, #7000d9);

    color: white;
    border-radius: 7px;

    font-family: "Ropa Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    /* box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5); */
}

#SU-1 {
    background-color: white;
    color: black;
    background-image: url("/caseStudies/SquadUpImages/statmentbg.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

#SU-2 {
    background-color: white;
}

#SU-3 {
    background-color: rgb(226, 234, 242);
    color: black;
    /* background: linear-gradient(#fff, #fff1ff); */
}

#SU-sketch {
    background-color: rgb(61, 61, 61);
    color: white;
    /* background: linear-gradient(#fff1ff, #fff); */
}
#SU-4 {
    background-color: #fff;
    /* background: linear-gradient(#fff1ff, #fff); */
}

#SU-5 {
    background-color: #fff;
    /* background: linear-gradient(#fff, #cbf5ff); */
}

.proto-section {
    /* background-color: #dff3ff; */
    color: black;
    /* border-radius: 10px; */
    margin-top: 50px;
    max-width: 1200px;
}

.bold-hmw {
    /* color: rgb(200, 33, 241); */
    color: #000000;
    font-weight: bold;
    /* background: linear-gradient(to right, #0f75c9, #de0a7f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.obs-aspects {
    margin-bottom: 0px;
    font-size: large;
    /* background: linear-gradient(to right, #0f75c9, #de0a7f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}


/* --------------------------------------------------------- */
/* ====================== VC REVEAL =============-========== */
/* --------------------------------------------------------- */

.VC-sp40 {
    margin-top: 40px;
}
.VC-sp20 {
    margin-top: 20px;
}

.VC-intro-fields {
    font-size: large;
}
.VC-fields-title {
    font-weight: bold;
    color: #e30000;
    font-size: x-large;
    margin: 0px;

    font-family: "Ropa Sans", sans-serif;
    font-weight: 200 900;
}
.VC-emph-title {
    font-weight: bold;
    font-size: large;
    color: #e30000;
    /* margin-top: 30px; */
}
.VC-images {
    min-height: 150px;
    max-height: 200px;
    border-radius: 10px;
    width: auto
}
.rd-border-10 {
    border-radius: 10px;
}
.VC-box-shadow-img {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
.VC-img-subtitle {
    color: #6e6e6e;
    margin-top: 10px;
    margin-bottom: 0px;
}

#VC-1 {
    background-color: #fff0f0;
    /* margin: 0px; */
    /* padding-bottom: -300px; */
    padding: 20px 8% 80px 8%;
}

#VC-transition-intro {
    height: 40px;
    background-image: linear-gradient(#fff0f0, #fff);
}

#VC-2 {
    background-color: #fff;
    padding-top: 80px;
    margin-bottom: -20px;
}

#VC-3 {
    background-color: #FCF7E9;
    padding: 50px 20%;
}

#VC-4, #VC-8 {
    background-color: #fff;
}

#VC-5, #VC-7 {
    background-color: #FCF7E9;
}

#VC-6 {
    background-color: #fff;
    padding-top: 60px;
}


@media (min-width: 1000px) {
    .max-content-section {
        max-width: 1700px;
        margin-left: auto;
        margin-right: auto;
    }
}



.VC-section-number {
    /* background-image: linear-gradient(to right, #c92fde, #0072D9); */
    /* color: transparent;  */
    color: #de2f2f;
    /* background-clip: text; */
    font-size: 30;
    margin: 0px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 0px;
    background-color: #fff0f0;
    padding: 10px 20px;
    border-radius: 30px;
}

.VC-section-title {
    font-family: "Ropa Sans", sans-serif;
    font-weight: 200 900;
    font-style: normal;
    font-size: xx-large;
    padding-top: 10px;
}

.VC-div-title {
    font-family: "Ropa Sans", sans-serif;
    font-weight: 200 900;
    font-style: normal;
    font-size: xx-large;
    padding-top: 10px;
}

.VC-card-1 {
    border-radius: 20px;
    border-color: #dedede;
    border-style: solid;
    border-width: 1px;
    padding: 20px;
    /* margin: 10px; */
}

.light-red-bg {
    background-color: #fff0f0;
    border-radius: 12px;
    padding: 20px 20px 20px 20px;
}

#dd-title {
    font-weight: bold;
    font-size: 40px;
    margin: 20px;
    padding: 0px;
    /* text-align: center; */
}
.VC-findings-title {
    font-size: 30px;
}
.VC-findings-title b {
    font-size: 30px;
    color: #de2f2f;
}

.dd-stat-title {
    font-weight: 600;
    font-size: 48px;
    margin: 0px;
    padding: 0px;
    margin-bottom: -10px;
    margin-top: -10px;
}
.dd-stat-subtitle {
    font-weight: normal;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}

.VC-findings-subtitle {
    margin: 0px;
    font-family: "Ropa Sans", sans-serif;
    font-size: 20px;
    color: #525252;
}

.VC-subtitle-gray {
    /* font-family: "Ropa Sans", sans-serif; */
    font-size: 14px;
    color: #525252;
}

.VC-PS-text {
    font-family: "Ropa Sans", sans-serif;
    font-size: 36px;
    color: #de2f2f;
    margin: 0px;
}

.VC-method-section-titles {
    font-weight: bold;
    margin: 0px;
    font-family: "Ropa Sans", sans-serif;
    font-size: 20px;
    color: black;
}

.VC-method-list li, .VC-method-list b {
    font-size: large;
    margin: 0px;
}

.VC-link {
    text-decoration: none;
    color: #de2f2f;
    font-size: large;
}

.VC-link:hover {
    color: #5e0202;
}

.VC-link:hover:after {
    /* text-decoration: underline; */
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media (max-width: 992px) {
    .VC-margin-x-10p {
        margin-left: 10%;
        margin-right: 10%;
    }
}

.VC-DI-num {    
    font-family: "Ropa Sans", sans-serif;
    font-size: 30px;
    color: #de2f2f;
    margin: 0px;
    padding: 0px;
    margin-top: -5px;
}

.VC-proto-img {
    max-height: 300px;
    width: auto;
}

.VC-finding-row {
    background-color: #fff0f0;
    padding: 40px;
}

.VC-finding-text {
    color: black;
    font-size: large;
}

.VC-DI-border {
    border-color: #dfc57c;
    border-width: 2px; 
    padding-top: 30px;
}

/* Other */

.test {
    background-color: red;
}

.test2 {
    background-color: blue;
}