.topnav {
    /* background-color: #F3F9FF; */
    overflow: hidden;
    margin: 0px;
    /* margin-bottom: 150px; */
    padding: 0px;

    border-radius: 20px;
}
  
.topnav .right-item{
    float: right;
    display: block;
    /* color: #333; */
    color: #818181;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
    font-size: 16px;

    /* display: inline-block; */
    position: relative;
    /* color: #0087ca; */
}

#az-logo-pic {
    width: 40px;
}

.left-item {
    /* margin-top: auto;
    margin-bottom: auto; */
    display: inline-block;
    padding: 15px 15px;
}

.hov:hover {
    color: #0072D9;
}

.hov:after {
    content: '';
    position: absolute;
    /* text-align: center; */
    width: 75%;
    transform: scaleX(0);
    height: 2px;
    bottom: 11px;
    left: 14%;
    background-color: #0072D9;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hov:hover:after {
    /* text-decoration: underline; */
    transform: scaleX(1);
    transform-origin: bottom left;
}
  
.active {
    /* background-color: #04AA6D; */
    color: #0072D9;
}

/* #ContactButton {
    border-style: none;
    border-radius: 5px;
    padding: 10px 14px;
    background-color: #0072D9;
    color: #F3F9FF;
    margin: 0%;
    margin-top: -10px;
} */
#az-logo-pic:hover {
    /* background-color: #F3F9FF; */
    /* border-color: #0072D9; */
    /* outline: 2px solid black; */
    transition: ease 0.2s;
    box-shadow: 0px 0px 12px #e6e6e6;
}
  
/* .topnav .icon {
    display: none;
} */
  





/* .dropdown {
    float: left;
    overflow: hidden;
} */
  
/* .dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
} */
  
  /* .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  } */
  
  /* .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  } */
  
  /* .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
  } */
  
  /* .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  } */
  
  /* .dropdown:hover .dropdown-content {
    display: block;
  } */
  
  /* @media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  } */
  
  /* @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  } */