
/* GEN STUFF START */
body{
    background-color: rgb(43, 54, 59);
}

#navbar {
    margin: 20px;
}

#navbarBottom{
    margin: 40px;
}

body img{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.row{
    margin: 0;
    padding: 0;
}

p, h1, h3, h6, #datasheetLink{
    margin: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
}

h5{
    margin: 35px;
    margin-top: 25px;
    margin-bottom: -5px;
}

ul li, ol{
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
}
/* GEN STUFF END */

.img {
    margin-left: auto;
    margin-right: auto;
}

#earbudsTop{
    display: block;
    width: 20%;
    /* transform: rotate(270deg); */
}

.fig {
    width: 70%;
    margin: 15px;
    margin-left: 15%;
    margin-right: 15%;
}

.figDesc {
    text-align: center;
    font-weight: bold;
}

#spindleIntro {
    width: 95%;
    margin-left: 5%;
    margin-right: 5%;
}

#flatcyl{
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    background-color: rgb(24, 75, 168);
    border-color: rgb(24, 75, 168);
}