body{
    background-color: rgb(44, 44, 44); 
    padding: 0px;
    min-width: 40%;
    /* background-color: rgb(43, 54, 59);  */
    /* rgb(43, 54, 59) */
}

/* =============== GENERAL =============== */

.top {
    margin-top: 5%;
}

.btn {
    background-color: rgb(185, 30, 30);
    border-color: rgb(185, 30, 30);
    /* dark blue (24, 75, 168) */
}
.btn:hover {
    background-color: rgb(230, 52, 52);
    border-color: rgb(240, 56, 56);
}

img {
    /* margin-top: auto;
    margin-bottom: auto;  */
}

/* =============== JUMBOTRON =============== */

#myPic {
    margin-bottom: 20px;
}

#githubLogo, #email {
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 35px;
}

#resumeLink{
    margin-top: 14px;
    margin-left: 7px;
}

/* =============== CASE STUDIES =============== */

.card {
    margin-bottom:30px;
    filter: drop-shadow(7px 7px 4px #000000);
    color: aliceblue;
    padding: 3%;
    height: 43%;
}

.card-img {
    padding: 0%;
    height: 25%;
    display: block;
    position: relative;
    margin: auto;
    margin-bottom: 10%;
}

.card-text {
    margin-left: 15px;
    margin-right: 15px;
}

.card-body {
    height: 30%;
}

/* piazza */
#piazzaCase {
    background-color: rgb(157, 209, 223);
    /* border-color: rgb(178, 204, 211); */
    /* rgb(119, 187, 204); */
    /* (164, 229, 245); */
}

#piazzaThumb {
    top: 50%;
    display: block;
    position: relative;
    margin: auto;
    margin-top: 6%;
}

/* unfinished */
#unfinishedCase {
    background-color: rgb(198, 163, 219);
    text-align: left;
}

/* earbuds */
#earbudCase {
    background-color: rgb(59, 72, 104);
}

#earbudsThumb {
    /* margin-top: 13%; */
    width: 45%;
    transform: rotate(270deg);
}

/* WePet */
#wepetCase {
    background-color: pink;
}

#wepetThumb {
    width: 60%;
}

/* Twitter */
#TwitterMisinfo {
    background-color: #1DA1F2;
    text-align: center;
}

#twitterTmb {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 50%;
    margin-left: 8%;
    margin-right: auto;
    filter: invert(1);
}

.allCards {
    margin-bottom: 5%;
}