body{
    background-color: rgb(44, 44, 44); 
    padding: 0px;
    /* background-color: rgb(43, 54, 59);  */
    /* rgb(43, 54, 59) */
}

#navbar {
    margin: 20px;
}

.nav-link{
    color: aliceblue;
}

.nav-link:hover{
    color: rgb(0, 169, 247);
}

.row{
    margin: 0;
    padding: 0;
}

ul li, ol{
    margin-left: 25px;
    margin-right: 25px;
}

#myPic {
    margin-bottom: 20px;
}

#githubLogo, #email {
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 35px;
}

#resumeLink{
    margin-top: 14px;
    margin-left: 7px;
}

.card {
    margin-bottom:30px;
    filter: drop-shadow(7px 7px 4px #000000);
    color: aliceblue;
}

.card-text {
    margin-left: 15px;
    margin-right: 15px;
}

#left1 {
    background-color: rgb(151, 199, 211);
    /* border-color: rgb(178, 204, 211); */
    /* rgb(119, 187, 204); */
    /* (164, 229, 245); */
}

#left2 {
    background-color: rgb(198, 163, 219);
}

#right1{
    background-color: rgb(59, 72, 104);
    height: 94.5%;
}

#earbudsThumb {
    width: 43%;
    transform: rotate(270deg);
}

.btn {
    background-color: rgb(185, 30, 30);
    border-color: rgb(185, 30, 30);
    /* dark blue (24, 75, 168) */
}
.btn:hover {
    background-color: rgb(230, 52, 52);
    border-color: rgb(240, 56, 56);
}