
/* GEN STUFF START */
body{
    background-color: rgb(151, 199, 211);
    /* (43, 54, 59); */
}

/* =============== GENERAL =============== */

.top {
    margin-top: 10%;
}

/* =============== GENERAL =============== */

#navbarBottom{
    margin: 40px;
}

img{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

p, h1, h4, h6, #datasheetLink{
    margin: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* GEN STUFF END */

#piazzaLogo {
    display: block;
    width: 90%;
    position: relative;
    margin: auto;
    margin-bottom: 2%;
}

#piazzaPgTop{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#incorrectTerms, #folderGIF, #dates, #PiazzaTradeOffs, #oldDesign, #PiazzaRedesign, #PiazzaRedesignGIF { 
    width: 70%;
    margin: 15px;
    margin-left: 15%;
    margin-right: 15%;
}

#mispelledWord, #scrollingGIF, #PainPt {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 20px;
}